<head th:fragment="head">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title content="Umfrage zur Rente in Deutschland"></title>
    <link rel="stylesheet" th:href="@{/styles/Umfrage-Style.css}">
    <link
            th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}"
          th:rel="stylesheet">

    <script
            th:src="@{/node_modules/jquery/dist/jquery.min.js}"
    ></script>
    <script
            th:src="@{/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>



</head>