<div th:fragment="impressum" class="impressum container-md">
    <h1>Impressum</h1>
    <div class="row">
        <div class="p-2 col-md">
            <p><strong>Angaben gemäß § 5 TMG</strong></p>
            <p>MTS11 OSZIMT</p>
            <p>Rudower Straße 23-27 </p>
            <p>12359 Berlin</p>
        </div>
        <div class="p-2 col-md">
            <p><strong>Vertreten durch: </strong></p>
            <p>Bernd Lehmann</p>
            <p><strong>Kontakt:</strong></p>
            <!--            <p>Telefon: 01234-789456</p>-->
            <!--            <p>Fax: 1234-56789</p>-->
            <p>E-Mail: <a href='mailto:lehmann@oszimt.de'>lehmann@oszimt.de</a></p>
        </div>
        <!--        <div class="p-2 col-md">-->
        <!--            <p><strong>Registereintrag: </strong></p>-->
        <!--            <p>Eintragung im Registergericht: Musterstadt</p>-->
        <!--            <p>Registernummer: 12345</p>-->
        <!--        </div>-->

        <!--        <div class="p-2">-->
        <!--            <p><strong>Aufsichtsbehörde:</strong>-->
        <!--                Musteraufsicht Musterstadt-->
        <!--            </p>-->
        <!--        </div>-->
    </div>
    <!--    <div class="row">-->
    <!--        <div>-->
    <!--            <p><strong>Wirtschafts-ID: </strong>Musterwirtschaftsid</p>-->
    <!--            <p><strong>Umsatzsteuer-ID: </strong></p>-->
    <!--            <p>Umsatzsteuer-Identifikationsnummer gemäß §27a Umsatzsteuergesetz: Musterustid.</p>-->
    <!--        </div>-->
    <!--    </div>-->
</div>
