<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>develop</title>
    <link href="/static/styles/main.css" rel="stylesheet">
</head>
<body>
<div class="navbar">
    <ul class="navbar-li">
        <li>link1</li>
        <li>link2</li>
        <li>link3</li>
    </ul>
</div>
<article>

    <h1>Header1</h1>
    <h2>header2</h2>
    <h3>header3</h3>
    <!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, adipisci aliquid amet-->
    <!--        commodi corporis ea eos exercitationem facilis fugiat harum inventore laboriosam minus odio-->
    <!--        perspiciatis quibusdam quod repudiandae, saepe voluptas.</p>-->

    <!--    <p class="para-cols-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias beatae-->
    <!--        debitis-->
    <!--        deleniti earum expedita facilis impedit itaque iure iusto, magnam maxime mollitia neque,-->
    <!--        nulla-->
    <!--        quasi quidem recusandae soluta tenetur voluptatum.</p>-->

    <form action="POST">
        <!--        <div class="container">-->
        <!--            <label class="form-textinput-label form-label" for="income">TextinputField</label>-->
        <!--            <input class="form-textinput" id="income" placeholder="10.000 EURO" type="number">-->
        <!--        </div>-->

        <!--        <label class="form-textinput-label form-label">Checkboxes</label>-->
        <!--        <div class="container">-->
        <!--            <div class="checkbox-container">-->
        <!--                <input class="form-checkbox-input" id="chkbox1" name="chkbox1" type="checkbox">-->
        <!--                <label class="form-checkbox-label form-label" for="chkbox1">Checkbox 1</label>-->
        <!--            </div>-->
        <!--            <div class="checkbox-container">-->
        <!--                <input class="form-checkbox-input" id="chkbox2" name="chkbox1" type="checkbox">-->
        <!--                <label class="form-checkbox-label form-label" for="chkbox2">Checkbox 2</label>-->
        <!--            </div>-->
        <!--        </div>-->

        <div class="radio-container">
            <div class="radio-wrapper">
                <input checked class="form-btn-radio-input" id="option-1" name="select"
                       type="radio">
                <label class="option option-1" for="option-1">
                    <span>Student</span>
                </label>

            </div>
            <div class="radio-wrapper">
                <input class="form-btn-radio-input" id="option-2" name="select" type="radio">
                <label class="option  option-2" for="option-2">
                    <span>Teacher</span>
                </label>

            </div>
            <div class="radio-wrapper">

                <input class="form-btn-radio-input" id="option-3" name="select" type="radio">
                <label class="option option-3" for="option-3">
                    <!--                <div class="dot"></div>-->
                    <span>Teacher 2</span>
                </label>
            </div>
        </div>


        <div class="range-container">
            <label class="form-range-label form-label" for="range">range Label</label>

            <div>

                <input class="form-range-input" id="range" list="data" max="6" min="0" name="range"
                       type="range">
                <datalist id="data">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                </datalist>
                <ul class="form-range-labels">
                    <li id="li0">keine</li>
                    <li id="li1">schlecht</li>
                    <li id="li2">normal</li>
                    <li id="li3">gut</li>
                    <li id="li4">sehr gut</li>
                    <li id="li5">experte</li>
                </ul>
            </div>
        </div>

        <input class="form-submit" type="submit" value="submit">
    </form>
</article>
</body>
</html>
