<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/head :: head">
    <meta charset="UTF-8">
    <title>Download</title>

</head>
<style>
    .btn {
        width: 10%;
        min-width: 8rem;

    }
    form {
        background: #181818 !important;
    }


</style>
<body class="min-vh-100" style="background: #181818 !important; overflow-x: hidden; min-width: 360px">
<div th:replace="fragments/footer::footnote"></div>
<br>

<div class="mt-1" style="text-align: center; color: #FFFFFF">
    <h1 style="font-size:3.5em">Downloads</h1>
</div>

<div style="min-height: 40vh;">
    <div class="d-flex justify-content-center">
        <div class="card mb-3 py-3 text-center  border-0"
             style="width: 70vw;background-color: #181818;margin-top:8vh">
            <div class="card-body text-white-50">
                <h6 class="card-text">There are three options for retrieving Data.<br>
                    All three methods require a token.<br>
                    So make sure, you enter the token down below first.<br>
                    For an api response have a look <a th:href="@{/downloads}">here</a>.<br></h6>

                <p> A Total of <span th:text="${count}">3</span> Answers is available</p>


                <div class="d-flex justify-content-center mt-4" style="">
                    <form class="col-8" id="download_form">
                        <div class="form-group">
                            <label for="token" class="form-label"></label>
                            <input class="form-control" type="text" id="token" name="token"
                                   placeholder="Enter your token">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="d-flex flex-xl-row justify-content-xl-around mx-xl-5 my-xl-3 my-auto flex-column ">

        <button type="submit"
                class="btn btn-danger my-xl-0 my-2 mx-xl-3 mx-2 col-xl-1 col-12 w-auto"
                form="download_form" th:formaction="@{/download/xlsx}"
                formmethod="post">
            Download xlsx
        </button>
        <button type="submit"
                class="btn btn-danger my-xl-0 my-2 col-xl-1 mx-xl-3 mx-2 col-12 w-auto"
                form="download_form" th:formaction="@{/download/csv}"
                formmethod="post">
            Download CSV
        </button>
        <button type="submit"
                class="btn btn-danger my-xl-0 my-2 col-xl-1 col-12 mx-xl-3 mx-2 w-auto"
                form="download_form" th:formaction="@{/json/v1}" formmethod="get">
            API Response v1
        </button>
        <button type="submit"
                class="btn btn-danger my-xl-0 my-2 col-xl-1 col-12 mx-xl-3 mx-2 w-auto"
                form="download_form" th:formaction="@{/json/v2}" formmethod="get">
            API Response v2
        </button>
    </div>
</div>

<div class="container"></div>
<footer class="pt-3 mt-4 fixed-bottom" style="background-color: #333333;height: 60px">
    <p class="text-center text-muted">&copy; 2022 OSZIMT</p>
</footer>
<div style="height: 60px;"></div>

</body>

</html>