<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head">
	<meta charset="UTF-8">
	<title>Umfrage zur Rente in Deutschland</title>
	<link href="/static/styles/main.css" rel="stylesheet">
</head>
<body>
<article>
	<h1>Fragen zur Person</h1>
	<form action="/0" method="post"
		  th:object="${user}"
	>

		<div class="container">
			<div class="form-input-text-container" style="max-width: 10ch">
				<label class="form-textinput-label form-label" for="income">Geschlecht</label>
				<select class="form-select" id="sex-select"
						th:field="*{sex}"
				>
					<option class="select-option" th:value="männlich">männlich</option>
					<option class="select-option" th:value="weiblich">weiblich</option>
					<option class="select-option" th:value="diverse">diverse</option>
				</select>
			</div>

			<div class="form-input-text-container">
				<label class="form-textinput-label form-label" for="income">Jährliches
					Bruttoeinkommen</label>
				<input class="form-textinput" id="income" placeholder="10.000 EURO"
					   required
					   th:field="*{salary}"
					   type="number"
				>
			</div>
			<div class="form-input-text-container">
				<label class="form-textinput-label form-label" for="age">Alter</label>
				<input class="form-textinput" id="age" max="100" placeholder="25"
					   required
					   style="max-width:3.5rem"
					   th:field="*{age}"
					   type="number">
			</div>
		</div>

		<input class="form-submit" type="submit" value="next">
	</form>
</article>
</body>
</html>