<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head">
	<meta charset="UTF-8">
	<title>all questions</title>
	<link href="/static/styles/Umfrage-Style.css" rel="stylesheet">
	<link href="/static/styles/bs/bootstrap.css" rel="stylesheet">
	<link href="/static/styles/bs/bootstrap-grid.css" rel="stylesheet">
	<link href="/static/styles/bs/bootstrap-reboot.css" rel="stylesheet">
</head>
<body>
<div class="container">

	<form id="surveyForm" class="col-md-7 align-content-center centered" th:action="@{/saveData}"
		  th:object="${form}" method="post">
		<div>
			<div class="container mt-3" th:each="question, itemStat : ${questions}">
				<input type="radio" class="hidden" th:value="${question.id}"
					   name="hidden-question-id"
					   th:field="*{answers[__${itemStat.index}__].questionId}">
				<p th:text="|${question.id}. ${question.questionText}|">1. Question text</p>
				<th:block th:switch="${question.questionType}">
					<!--NUMBER INPUT FIELD-->
					<div class="container"
						 th:case="${T(osz.imt.mts.mts11umfrage.data.QuestionTypes).INPUT}">
						<div class="input-group" style="max-width: 300px">
							<input aria-label="Betrag auf 50 € gerundet"
								   class="form-control numbers"
								   placeholder="50.000"
								   required
								   th:field="*{answers[__${itemStat.index}__].answerValue}"
								   type="number"
							>
							<!--					todo number format-->
							<div class="input-group-append">
								<span class="input-group-text">€</span>
								<!--						<span class="input-group-text"></span>-->
							</div>
						</div>
					</div>
					<!--					SINGLEINPUT-->
					<div class="form-check mc-table"
						 th:case="${T(osz.imt.mts.mts11umfrage.data.QuestionTypes).SINGLEANSWER}">
						<div class="input-group"
							 th:each="opt : ${question.questionAnswers}">
							<input checked class="form-check-input" id="exampleRadios1"
								   required
								   th:id="${opt.id}"
								   th:name="${question.id}"
								   type="radio"
								   th:value="${opt.answerValue}"
								   th:field="*{answers[__${itemStat.index}__].answerValue}"
							>
							<label class="form-check-label" for="exampleRadios1"
								   th:for="${opt.id}"
								   th:text="${opt.answerOption}"
							>
								Default radio
							</label>
						</div>
					</div>
					<!--MULTIPLECHOICE-->
					<div class="container mt-3"
						 th:case="${T(osz.imt.mts.mts11umfrage.data.QuestionTypes).MULTIPLECHOICE}"
					>
						<div class="mc-table">
							<div class="form-check"
								 th:each="opt: ${question.questionAnswers}">
								<input aria-label="Mehrere Auswahloptionen möglich."
									   class="form-check-input" id="exampleRadios2"
									   th:id="${opt.id}"
									   th:value="${opt.id}"
									   type="checkbox"
									   th:field="*{answers[__${itemStat.index}__].multianswerValue}"
								>
								<label class="form-check-label" for="exampleRadios2"
									   th:for="${opt.id}"
									   th:text="${opt.answerOption}">
									Second default radio
								</label>
							</div>
						</div>
					</div>
				</th:block>
			</div>
		</div>
		<input class="m-3 p-2 btn btn-primary"
			   value="absenden"
			   type="submit">
	</form>
</div>
</body>
</html>
