:root {
    --form-input-bg: #dfefef;
    --form-hover-bg: #cedede;
    --font-main-default: Helvetica;
    --font-size-default: 17px;
    --font-size-default-mobile: 14px;
    --font-size-small: 12px;
    --font-size-large: 24px;
}

.navbar {
    position: relative;
    margin: auto 0;
    padding: 0;
    top: 0;
    display: inline-list-item;
    text-align: justify;
    background: linear-gradient(to right, darkslategrey, darkcyan);
}

.navbar-li {
    margin: auto;
}

.navbar-li > li {
    font-size: 17px;
    cursor: pointer;
    margin: 0;
    padding: 15px;
    display: table-cell;
    border-radius: 0;
    font-weight: bold;
    background: #dfefef;
    /*letter-spacing: 2px;*/
}

.navbar-li > li:hover {
    background: darkcyan;
    color: white;
}

body {
    font-family: "Helvetica";
    margin: auto;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.7;
    background: linear-gradient(to right, white, lightgray, white);
}

article {
    padding: 5rem;
    max-width: 85ch;
    margin: auto;
    background: white;
    box-shadow: rgba(0, 0, 0, .1) 0 0 7px;
}

p {
    padding: 2rem;
    max-width: 75ch;
}

.para-cols-3 {
    column-count: 3;
    text-align: justify;
    justify-content: space-between;
}

.link-button {
    padding: 1.2rem;
    background: darkcyan;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

.link-button:hover {
    background: darkslategrey;
}

.link-button:active {
    color: white;
}

.form-input-text-container {
    margin: 1.5rem;
    width: 100%;
    display: inline-block;
}

.container {
    display: flow;
    padding: 3rem;
    width: 50%;
    margin: auto;
    align-content: space-around;
}

.radio-container {
    padding: 0;
    justify-content: center;
}


input[type="radio"] {
    margin-top: -1px;
    margin-right: 0;
    vertical-align: middle;
}

input[type="checkbox"] {
    margin-top: 1px;
    vertical-align: middle;
}

.form-textinput {
    width: 100%;
    max-width: 50ch;
    margin: auto;
    text-align: center;
    background: #dfefef;
    cursor: text;
    color: darkslategrey;
}

.form-textinput:hover {
    background: #cedede;
}

.form-label {
    /*margin: auto 1.5rem;*/
    padding: 1rem 1.5rem;
}

.form-textinput-label {
    font-weight: 200;
    font-size: 1.2rem;
}

.form-checkbox-label {
    cursor: pointer;
}


.form-radio-label {
    cursor: pointer;
    padding: 0;
}

input {
    font-size: 1.2rem;
    text-align: justify;
    color: darkslategrey;
    height: auto;
    grid-row: 2;
    border: none;
    border-radius: 5px;
    padding: .5rem;
    margin: .2rem;
    /*background: var(--form-input-bg);*/
    background: darkcyan;
    color: white;
    height: 1.5rem;
}

.form-submit {
    padding: 10px 15px;
    text-align: center;
    height: 40px;
    vertical-align: center;
    cursor: pointer;
    float: right;
}

.form-submit:hover {
    background: darkslategrey;
    color: white;
}

*:focus {
    outline: none;
}

.range-container {
    width: 70%;
}

.form-range-labels {
    list-style-type: none;
    width: 100%;
    margin-bottom: 0;
    margin-right: 0;
    padding-left: 25px;
    padding-right: 0;
    text-align: justify;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.form-range-input {
    width: 100%;
    margin-left: 25px;
    cursor: pointer;
}

ul > li {
    display: inline-block;
    font-size: 10px;
    padding: 7px;
    margin: 5px;
    border-radius: 5px;
    background: #dfefef;
}

.form-select {
    background: #dfefef;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: normal;
    padding: .5rem;
    cursor: pointer;
}

.form-select select {
    display: none;
}

.select-option {
    background: white;
    border-color: darkslategrey transparent transparent transparent;
    color: darkslategrey;
    cursor: pointer;
    font-size: 14px;
    font-weight: lighter;
    transition: .3s;
}

.select-option:hover {
    background: #cedede;
}

.form-select:hover {
    background: #cedede;
}

.form-select:focus {
    border: none;
    border-radius: 5px;
}

.form-btn-radio-input {
    background: #dfefef;
    display: inline-block;
    padding: .5rem;
    margin: .2rem;
    border-radius: 5px;
    cursor: pointer;
}

.radio-container {
    display: inline-flex;
    height: 2.5rem;
    width: auto;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 20px 15px;
}

.radio-container .option {
    background: var(--form-input-bg);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px;
    /*transition: all 0.3s ease;*/
}


input[type="radio"] {
    display: none;
}

.radio-wrapper {
    margin: 1.1rem;
}

#option-0:checked:checked ~ .option-0,
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2,
#option-3:checked:checked ~ .option-3,
#option-4:checked:checked ~ .option-4,
#option-5:checked:checked ~ .option-5,
#option-6:checked:checked ~ .option-6,
#option-7:checked:checked ~ .option-7,
#option-8 :checked:checked ~ .option-8,
#option-9 :checked:checked ~ .option-9,
#option-10:checked:checked ~ .option-10 {
    background: darkslategrey;
}

#option-0:checked:checked ~ .option-0 .dot,
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot,
#option-3:checked:checked ~ .option-3 .dot,
#option-4:checked:checked ~ .option-4 .dot,
#option-5:checked:checked ~ .option-5 .dot,
#option-6:checked:checked ~ .option-6 .dot,
#option-7:checked:checked ~ .option-7 .dot,
#option-8 :checked:checked ~ .option-8 .dot,
#option-9 :checked:checked ~ .option-9 .dot,
#option-10:checked:checked ~ .option-10 .dot {
    background: #fff;
}

#option-0:checked:checked ~ .option-0 .dot::before,
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before,
#option-3:checked:checked ~ .option-3 .dot::before,
#option-4:checked:checked ~ .option-4 .dot::before,
#option-5:checked:checked ~ .option-5 .dot::before,
#option-6:checked:checked ~ .option-6 .dot::before,
#option-7:checked:checked ~ .option-7 .dot::before,
#option-8 :checked:checked ~ .option-8 .dot::before,
#option-9 :checked:checked ~ .option-9 .dot::before,
#option-10:checked:checked ~ .option-10 .dot::before {
    opacity: 1;
    transform: scale(1);
}

.wrapper .option span {
    font-size: 20px;
    color: darkslategrey;
}

#option-0:checked:checked ~ .option-0 span,
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span,
#option-3:checked:checked ~ .option-3 span,
#option-4:checked:checked ~ .option-4 span,
#option-5:checked:checked ~ .option-5 span,
#option-6:checked:checked ~ .option-6 span,
#option-7:checked:checked ~ .option-7 span,
#option-8 :checked:checked ~ .option-8 span,
#option-9 :checked:checked ~ .option-9 span,
#option-10:checked:checked ~ .option-10 span {
    color: #fff;
}