/*OSZIMT - MTS11 color schema*/
:root {
    --oszimt-red: #c50d08;
    --oszimt-bg-dark: #10202f;
    --oszimt-bg-light: #c3c6cb;
}

.fullheight {
    height: 100%;
}

body, html {
    height: 100%;
}

body {
    background: linear-gradient(to right, var(--oszimt-bg-light), var(--oszimt-bg-dark), var(--oszimt-bg-light));
}

.container {
    background: var(--white);
}

.logo {
    height: 100px;
    width: auto;
}

.logo > span {

}

.logo > img {
    height: 100%;
    width: auto;
}

input[type="number"] {
    text-align: right;
}

label {
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.yes-no-image {

}

.mc-table {
    column-count: 2;
}

.centered {
    margin: auto;
}

.hidden {
    display: none;
}